/** List Setting */
.schema-admin-table-list th:nth-child(1) {
  width: 10em;
}
.schema-admin-table-list td {
  vertical-align: middle;
}
.schema-admin-table-list td:nth-child(1) span {
  display: inline-block;
  padding: 0 1em 0 1em;
  text-align: center;
  width: 8em;
}
.schema-admin-table-list td:nth-child(1) span.active {
  background: #00a0d2;
  color: #ffffff;
}
.schema-admin-table-list td:nth-child(1) span.stop {
  background: #CCCCCC;
}

/** Posts page */
.schema-admin-h1-span {
  display: inline-block;
  font-size: 80%;
  margin: 0 0 0 10px;
}
.schema-admin-table {
  margin: 15px 0 15px 0;
}
.schema-admin-table caption {
  border-left: solid 4px #00a0d2;
  margin: 0 0 10px 0;
  padding: 3px 0 3px 7px;
  text-align: left;
}
.schema-admin-table th {
  padding: 3px 5px 0 0;
  text-align: right;
  vertical-align: top;
  width: 120px;
}
.schema-admin-table td label{
  margin: 0 10px 0 0;
}
.schema-admin-table small {
  margin: 0 0 0 10px;
}
.schema-admin-table input[type="checkbox"] {
  margin: 0 5px 0 0;
}